<section class="bg-sand">
  <div class="p-6">
    <div class="flex p-6 justify-between rounded bg-black">
      <div class="flex flex-row items-center gap-1.5">
        <svg width="24" height="24">
          <use href="./src/images/sprite.svg#icon-alert-circle"></use>
        </svg>
        <p
          class="inline-block font-SpaceGrotesk font-bold text-xs uppercase text-sand"
        >
          ALPHA
        </p>
      </div>
      <p class="font-SpaceGrotesk text-sm text-sand font-medium">
        Important info
      </p>
      <svg width="24" height="24">
        <use href="./src/images/sprite.svg#icon-chevron-down"></use>
      </svg>
    </div>
    <ul
      class="mt-12 flex flex-wrap gap-x-6 gap-y-12 flex-col align-center justify-center md:grid grid-cols-2 gap-x-3 gap-y-6 lg:grid-cols-4 gap-x-3 gap-y-6"
      data-product-list
    ></ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>
