<div class="bg-backdrop absolute top-0 left-0 w-full h-full hidden" data-cart>
  <div class="bg-cartbg p-8 relative w-full h-full">
    <div class="flex flex-row justify-between border-b border-sand pb-3.5">
      <h2 class="font-SpaceGrotesk font-bold text-2xl text-sand">
        Shopping Cart
      </h2>
      <button data-cart-close>
        <svg width="24" height="24">
          <use href="./src/images/sprite.svg#icon-close-line"></use>
        </svg>
      </button>
    </div>
    <div class="p-6">
      <ul></ul>
    </div>
    <div clas="p-6 border-t border-sand flex flex-row justify-between">
      <p class="font-SpaceGrotesk font-bold text-sm text-sand uppercase">
        Total
      </p>
      <p></p>
    </div>
  </div>
</div>
