<footer class="bg-white border-t border-black border-solid">
  <div class="p-12 flex flex-col gap-12">
    <ul class="flex flex-col gap-[1.188rem]">
      <li>
        <a
          href="#"
          class="font-SpaceMono text-black font-bold text-sm uppercase"
          >FAQ</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-SpaceMono text-black font-bold text-sm uppercase"
          >Returns</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-SpaceMono text-black font-bold text-sm uppercase"
          >Contact</a
        >
      </li>
    </ul>
    <ul class="flex flex-col gap-[1.188rem]">
      <li>
        <a
          href="#"
          class="font-SpaceMono text-black font-bold text-sm uppercase"
          >Terms & Conditions</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-SpaceMono text-black font-bold text-sm uppercase"
          >Privacy Policy</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-SpaceMono text-black font-bold text-sm uppercase"
          >Cookie Policy</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-SpaceMono text-black font-bold text-sm uppercase"
          >Cookie Settings</a
        >
      </li>
    </ul>
    <ul class="flex flex-col gap-[1.188rem]">
      <li>
        <a
          href="#"
          class="font-SpaceGrotesk text-black font-bold text-sm uppercase"
          >About VooDoo</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-SpaceGrotesk text-black font-bold text-sm uppercase"
          >Career</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-SpaceGrotesk text-black font-bold text-sm uppercase"
          >Facebook</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-SpaceGrotesk text-black font-bold text-sm uppercase"
          >Instagram</a
        >
      </li>
    </ul>
    <svg width="80" height="80" class="my-0 mx-auto">
      <use href="./src/images/sprite.svg#icon-Logomark"></use>
    </svg>
  </div>
</footer>
