<header class="bg-sand border-b border-black border-solid">
  <div class="p-6 flex justify-between">
    <div>
      <a
        href="./index.html"
        class="flex flex-row justify-start items-start gap-1"
      >
        <svg width="23" height="23">
          <use href="./src/images/sprite.svg#icon-Logomark"></use>
        </svg>
        <svg width="107" height="50">
          <use href="./src/images/sprite.svg#icon-Logotype"></use>
        </svg>
      </a>
    </div>
    <div class="flex flex-row justify-between items-center gap-4">
      <button data-cart-open>
        <svg width="24" height="24">
          <use href="./src/images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
      <button class="bg-black rounded p-3">
        <p class="text-white font-SpaceGrotesk text-sm font-bold">Sign-up</p>
      </button>
    </div>
  </div>
</header>
